#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  margin: 0 auto 0;
  padding: 0;
  width: 60vw;
  height: 100px;

  border-radius: 1.5em;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  #navbar {
    width: 60vw;
    min-width: 500px;
    max-width: 1000px;
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    width: 90vw;
  }
}

#navbar > a {
  color: black;
  text-decoration: none;
}

#navbar > a:not(:first-child) {
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: transform 200ms;
}

#navbar > a:not(:first-child):hover {
  transform: scale(1.2);
  color: #ec3838;
}
